$font: "ariel", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

//noted these for later
// 1600, 1440, 1280, 1120, 960, 800, 640, 480, 320, 160

//Headings
h1,h2,h3 {
    text-transform: uppercase;
}

h1 { font-size: clamp(3rem, 10vw, 6rem); }
h2 { font-size: clamp(2rem, 10vw, 4rem); }
h3 { font-size: clamp(1.5rem, 10vw, 2rem); }

//Colours
$off-white: #f2f4f5;
$off-black: rgb(32, 32, 32);
$orange-accent: rgb(248, 83, 0);

body {
    padding: 0;
    margin: 0;
    font-family: $font;
    font-size: 16px;
    background-color: $off-white;
    color: $off-black;
}

.container {
    width: 1440px;
    min-width: 1440px;
    margin: 0 auto;
    @media (max-width: 1280px) {
        width: 760px;
        min-width: 760px;
    }
    @media (max-width: 800px) {
        width: 620px;
        min-width: 620px;
    }
    @media (max-width: 640px) {
        width: 460px;
        min-width: 460px;
    }
    @media (max-width: 480px) {
        width: 320px;
        min-width: 320px;
    }
    @media (max-width: 350px) {
        width: 260px;
        min-width: 260px;
    }
}

//Header 
header {
    height: 80px;
    width: 100%;
    top: 0;
    z-index: 10;
    .inner-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        .logo {
            a {
                font-weight: 700;
                text-decoration: none;
                text-transform: uppercase;
                color: $off-black;
            }
        }
        .navigation {
            @media (max-width: 640px) {
                display: none;
            }
            nav {
                a {
                    margin: 0 20px;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $off-black;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

//Banner 
.banner {
    .row {
        .main-text {
            display: flex;
            align-items: center;
            background-color: $off-white;
            position: relative;
        }
        .sub-text {
            display: flex;
            align-items: center;
            background-color: $off-white;
            position: relative;
            max-width: 640px;
        }
    }
}

//About
//Product

//Footer
footer > * {
    text-transform: uppercase;
    .inner-footer {
        // display: flex;
        .inner-footer__office {
            color: $off-black;
        }
        .inner-footer__socials {
            color: $off-black;
        }
    }
}